body {
    background-image: url('/website/img/backgroundimage.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  }
  body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; 
  }

  #Ubo {
   font-size: xx-large;
   color: black;
   margin: 0px;
  }

#pirmas, #antras {
  display: flex
  justify-content: center
}

#antras {
  display: none;  
}
a:hover #antras {
  display: block;  
}
a:hover #pirmas {
  display: none;  
}
