body {
    background-image: url('/website/img/backgroundimage.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  }
  body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; 
  }

  #blackblock{
    background-color: black;
    height: 200px;
  }

  #Ubo {
   font-size: xx-large;
   color: black;
   margin: 0px;
  }

#detect {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -999em;
  top: -999em
}
#fallbackImage.hide {
    display: none;
}

#fallbackImage.show {
    display: initial;
}
#pirmas, #antras {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#antras {
  display: none;  
}
a:hover #antras {
  display: block;  
}
a:hover #pirmas {
  display: none;  
}
